[kaspresso](../../index.md) / [com.kaspersky.kaspresso.report](../index.md) / [ReportWriter](index.md) / [processTestResults](./process-test-results.md)

# processTestResults

`abstract fun processTestResults(testInfo: `[`TestInfo`](../../com.kaspersky.kaspresso.testcases.models.info/-test-info/index.md)`): `[`Unit`](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-unit/index.html)