//[kaspresso](../../index.md)/[com.kaspersky.kaspresso.report](../index.md)/[ReportWriter](index.md)/[processTestResults](process-test-results.md)



# processTestResults  
[androidJvm]  
Content  
abstract fun [processTestResults](process-test-results.md)(testInfo: [TestInfo](../../com.kaspersky.kaspresso.testcases.models.info/-test-info/index.md))  



