[versions]
kotlin = "1.4.32"
detekt = "1.16.0"
espresso = "3.3.0"

[libraries]
# plugins
kotlinPlugin = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
androidPlugin = "com.android.tools.build:gradle:4.1.0"

# libraries
kotlinCli = "org.jetbrains.kotlinx:kotlinx-cli:0.3"
detektCli = { module = "io.gitlab.arturbosch.detekt:detekt-cli", version.ref = "detekt" }
detektFormatting = { module = "io.gitlab.arturbosch.detekt:detekt-formatting", version.ref = "detekt" }

kotlinStdlib = { module = "org.jetbrains.kotlin:kotlin-stdlib", version.ref = "kotlin" }
espressoCore = { module = "androidx.test.espresso:espresso-core", version.ref = "espresso" }
espressoWeb = { module = "androidx.test.espresso:espresso-web", version.ref = "espresso" }
testCore = "androidx.test:core:1.3.0"
uiAutomator = "androidx.test.uiautomator:uiautomator:2.2.0"

androidXCore = "androidx.core:core:1.3.1"
androidXRules = "androidx.test:rules:1.3.0"

appcompat = "androidx.appcompat:appcompat:1.2.0"
material = "com.google.android.material:material:1.2.0"
constraint = "androidx.constraintlayout:constraintlayout:2.0.0"

kakao = "io.github.kakaocup:kakao:3.0.2"
gson = "com.google.code.gson:gson:2.8.6"

junit = "junit:junit:4.13"
junitJupiter = "org.junit.jupiter:junit-jupiter:5.6.2"
truth = "com.google.truth:truth:1.0"
runner = "androidx.test:runner:1.3.0"
orchestrator = "androidx.test:orchestrator:1.3.0"

[bundles]
espresso = ["espressoCore", "espressoWeb"]
