<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kaspersky.kaspresso.tutorial">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" tools:ignore="ProtectedPermissions"/>


    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kaspresso"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".simple.SimpleActivity"
            android:exported="true"/>

        <activity android:name=".wifi.WiFiActivity"
            android:exported="true"/>

        <activity android:name=".notification.NotificationActivity"
            android:exported="false"/>

        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".afterlogin.AfterLoginActivity"
            android:exported="true" />

        <activity android:name=".permission.MakeCallActivity"
            android:exported="true" />

        <activity
            android:name=".flaky.FlakyActivity"
            android:exported="true" />

        <activity
            android:name=".lists.NoteListActivity"
            android:exported="true" />
    </application>

</manifest>
