# This workflow builds the project on every commit to the 'master' branch and deploys the artifacts

name: Build and Deploy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Set up environment variables
        env:
          BINTRAY_USER: ${{ secrets.bintray_user }}
          BINTRAY_KEY: ${{ secrets.bintray_key }}
          ARTIFACTORY_PASS: ${{ secrets.artifactory_password }}
        run: |
          echo $'\n'bintrayuser=$BINTRAY_USER >> ${HOME}/.gradle/gradle.properties
          echo $'\n'bintraykey=$BINTRAY_KEY >> ${HOME}/.gradle/gradle.properties
          echo $'\n'artifactoryPassword=$ARTIFACTORY_PASS >> ${HOME}/.gradle/gradle.properties
      - name: Build
        run: ./gradlew assemble
      - name: Deploy snapshots to artifactory
        run: ./gradlew artifactoryPublish