name: Publication to MavenCentral

on: workflow_dispatch

jobs:
  publication:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11
      - name: Tests
        run: make unit_tests
      - name: Assemble build
        run: make compile_all
      - name: Publish
        env:
          OSSRH_USER: ${{ secrets.ossrh_user }}
          OSSRH_PASSWORD: ${{ secrets.ossrh_password }}
          OSSRH_STAGING_PROFILE_ID: ${{ secrets.ossrh_staging_profile_id }}
          PGP_KEYID: ${{ secrets.pgp_keyid }}
          PGP_KEY: ${{ secrets.pgp_key }}
          PGP_PASSWORD: ${{ secrets.pgp_password }}
        run: ./gradlew publishRelease -Pkaspresso.ossrh.user=${OSSRH_USER} -Pkaspresso.ossrh.password=${OSSRH_PASSWORD} -Pkaspresso.ossrh.stagingProfileId=${OSSRH_STAGING_PROFILE_ID} -Pkaspresso.pgp.keyid=${PGP_KEYID} -Pkaspresso.pgp.key=${PGP_KEY} -Pkaspresso.pgp.password=${PGP_PASSWORD}
